# Data Wrangling 
BIT-446 Topic 1
Noah MacGillivray

## Imports

In [45]:
import pandas as pd 
import numpy as np 
import matplotlib as plt
import os

## Read in data and add a record field starting at 0

In [46]:
churn = pd.read_excel('BIT-446-RS-T1-Churn-1.xlsx') # reads in the excel file 
#print(churn)
churn.insert(0, 'ID', range(len(churn))) # pla

## Header information for dataframe

In [47]:
churn.info() # displays header names and column stats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              3333 non-null   int64
 1   State           3333 non-null   object
 2   Account Length  3333 non-null   int64
 3   Area Code       3333 non-null   int64
 4   Phone           3333 non-null   object
 5   Int'l Plan      3333 non-null   object
 6   VMail Plan      3333 non-null   object
 7   VMail Message   3331 non-null   float64
 8   Day Mins        3332 non-null   float64
 9   Day Calls       3332 non-null   float64
 10  Day Charge      3329 non-null   float64
 11  Eve Mins        3333 non-null   float64
 12  Eve Calls       3330 non-null   float64
 13  Eve Charge      3332 non-null   float64
 14  Night Mins      3331 non-null   float64
 15  Night Calls     3331 non-null   float64
 16  Night Charge    3333 non-null   float64
 17  Intl Mins       3331 non-null   float64
 18  Intl Calls      3333 non-null   int64
 19  Intl Charge     3333 non-null   float64
 20  CustServ Calls  3333 non-null   int64
 21  Churn?          3333 non-null   object
dtypes: float64(12), int64(5), object(5)
memory usage: 573.0+ KB

## Change columns to lowercase

In [48]:
print("Before:", churn.columns.tolist())
churn.columns = churn.columns.str.lower()
print("After:", churn.columns.tolist())

Before: ['ID', 'State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan", 'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge', 'CustServ Calls', 'Churn?']
After: ['id', 'state', 'account length', 'area code', 'phone', "int'l plan", 'vmail plan', 'vmail message', 'day mins', 'day calls', 'day charge', 'eve mins', 'eve calls', 'eve charge', 'night mins', 'night calls', 'night charge', 'intl mins', 'intl calls', 'intl charge', 'custserv calls', 'churn?']

## Replace spaces with underscore & remove special characters

In [49]:
print("Before:", churn.columns.tolist())
churn.columns = churn.columns.str.replace(' ', '_')
churn.columns = churn.columns.str.replace(r'[^a-zA-Z0-9_]', '', regex=True)
print("After:", churn.columns.tolist())

Before: ['id', 'state', 'account length', 'area code', 'phone', "int'l plan", 'vmail plan', 'vmail message', 'day mins', 'day calls', 'day charge', 'eve mins', 'eve calls', 'eve charge', 'night mins', 'night calls', 'night charge', 'intl mins', 'intl calls', 'intl charge', 'custserv calls', 'churn?']
After: ['id', 'state', 'account_length', 'area_code', 'phone', 'intl_plan', 'vmail_plan', 'vmail_message', 'day_mins', 'day_calls', 'day_charge', 'eve_mins', 'eve_calls', 'eve_charge', 'night_mins', 'night_calls', 'night_charge', 'intl_mins', 'intl_calls', 'intl_charge', 'custserv_calls', 'churn']